/* Custom properties/variables  */
:root {
    --seahawk-blue: #0a2241;
    --seahawk-green: #98df4a;
  }

* {
    margin: 0px;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    background-color: var(--seahawk-green);
    width: 100%;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}

.navlist {
    display: flex;
    margin-right: 1rem;
}

.navlist a {
    display: block;
    font-size: 2rem;
    padding: 1rem;
}

.navlist a:hover {
    background-color: #07d16c;
  }

li {
    list-style: none;
    color: var(--seahawk-blue);
    font-size: 2rem;
}

a {
    text-decoration: none;
  }

#welcome-section {
    width: 100%;
    height: 100vh;
    background-color: var(--seahawk-blue);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }

  /* 1200px / 16px = 75em */
@media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }